<div class="row">
        <div class="col-md-3">
                <bp-card>
                        <bp-card-header>Card header</bp-card-header>
                        <img bpCardImage src="../assets/img/i1.png" position="cap" />
                        <bp-card-image-overlay>
                                <label class="card-title">Title</label>
                                <h6 bpCardSubtitle>Subtitle</h6>
                        </bp-card-image-overlay>
                        <bp-card-body>
                                <label class="card-title">Title</label>
                                <h6 bpCardSubtitle>Subtitle</h6>
                        </bp-card-body>
                        <bp-card-footer>
                                Card footer
                        </bp-card-footer>
                </bp-card>
        </div>
</div>