<div class="row">
        <div class="col-sm-6">
                <h1>heading <span bpBadge>New</span></h1>
                <h2>heading <span bpBadge color="secondary">New</span></h2>
                <h3>heading <span bpBadge color="info">New</span></h3>
                <h4>heading <span bpBadge color="danger">New</span></h4>
                <h5>heading <span bpBadge color="warning">warning</span></h5>
                <h6>heading <span bpBadge color="info">New</span></h6>
                <h6>heading <span bpBadge color="light">New</span></h6>
                <h6>heading <span bpBadge color="dark">New</span></h6>
        </div>
        <div class="col-sm-6 pt-3">
                <p>
                        Set pill property to true to make a badge round. <br />
                        <span bpBadge color="primary" [pill]="true">Rouned Badge</span>
                </p>
                <p>
                        you can use bpBage directive on links: <br />
                        <a href="#" bpBadge color="secondary">Primary</a>
                        <a href="#" bpBadge color="secondary">Secondary</a>
                        <a href="#" bpBadge color="success">Success</a>
                        <a href="#" bpBadge color="danger">Danger</a>
                        <a href="#" bpBadge color="warning">Warning</a>
                        <a href="#" bpBadge color="info">Info</a>
                        <a href="#" bpBadge color="light">Light</a>
                        <a href="#" bpBadge color="dark">Dark</a>
                </p>
                <p>
                        Badges can be used as part of links or buttons to provide a counter. <br />
                        <button bpButton>
                                Notifications <span bpBadge color="warning">4</span>
                        </button>
                </p>
        </div>
</div>