<div class="row">
        <div class="col">
                <h1>Example heading <span bpBadge>New</span></h1>
                <h2>Example heading <span bpBadge color="secondary">New</span></h2>
                <h3>Example heading <span bpBadge color="info">New</span></h3>
                <h4>Example heading <span bpBadge color="danger">New</span></h4>
                <h5>Example heading <span bpBadge color="warning">warning</span></h5>
                <h6>Example heading <span bpBadge color="info">New</span></h6>
                <h6>Example heading <span bpBadge color="light">New</span></h6>
                <h6>Example heading <span bpBadge color="dark" [pill]="true">New</span></h6>
        </div>
</div>

<div class="row">
        <div class="col">
                <button type="button" class="btn btn-primary">
                        Notifications <span bpBadge color="warning">4</span>
                </button>
        </div>
</div>

<div class="row">
        <div class="col">
                <a href="#" bpBadge>Primary</a>
        </div>
</div>