<div class="row">
        <div class="col-md-6">
                <bp-progress>
                        <bp-progress-bar [min]="-50" [max]="-10" [value]="-49" [animated]="true" [striped]="true"
                                color="success" label="asd">
                                <small>12</small>
                        </bp-progress-bar>
                        <bp-progress-bar [min]="-50" [max]="-10" [value]="-49" [animated]="true" [striped]="true"
                                color="primary"></bp-progress-bar>
                        <bp-progress-bar [min]="-50" [max]="-10" [value]="-49" [animated]="true" [striped]="true"
                                color="danger"></bp-progress-bar>
                </bp-progress>
        </div>
</div>