<bp-tabs [disabled]="false" [vertical]="false" >
        <ng-template bpTab title="133333333333333">
                tab 1 content,tab 1 content,tab 1 content,tab 1 content
                tab 1 content,tab 1 contenttab 1 content,tab 1 content
                tab 1 content,tab 1 contenttab 1 content,tab 1 content
                tab 1 content,tab 1 contenttab 1 content,tab 1 content
            </ng-template>
            <ng-template bpTab title="2">tab 2 content</ng-template>
            <ng-template bpTab title="3" [disabled]="true">
                    tab 1 content,tab 1 content,tab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
            </ng-template>
            <ng-template bpTab title="4">
                    tab 1 content,tab 1 content,tab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
            </ng-template>
            <ng-template bpTab title="5">
                    tab 1 content,tab 1 content,tab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
                    tab 1 content,tab 1 contenttab 1 content,tab 1 content
            </ng-template>
</bp-tabs>

<hr>
<bp-tabs class="bg-warning" [disabled]="false" appearance="pill" [vertical]="true">
    <ng-template bpTab title="133333333333333">
        tab 1 content,tab 1 content,tab 1 content,tab 1 content
        tab 1 content,tab 1 contenttab 1 content,tab 1 content
        tab 1 content,tab 1 contenttab 1 content,tab 1 content
        tab 1 content,tab 1 contenttab 1 content,tab 1 content
    </ng-template>
    <ng-template bpTab title="2">tab 2 content</ng-template>
    <ng-template bpTab title="3" [disabled]="true">
            tab 1 content,tab 1 content,tab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
    </ng-template>
    <ng-template bpTab title="4">
            tab 1 content,tab 1 content,tab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
    </ng-template>
    <ng-template bpTab title="5">
            tab 1 content,tab 1 content,tab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
            tab 1 content,tab 1 contenttab 1 content,tab 1 content
    </ng-template>
</bp-tabs>