<div class="row">
        <div class="col-md-6">
                <bp-card>
                        <bp-card-body>
                                <bp-breadcrumb>
                                        <bp-breadcrumb-item>item 1</bp-breadcrumb-item>
                                        <bp-breadcrumb-item><a href="#">Home</a></bp-breadcrumb-item>
                                        <bp-breadcrumb-item [active]="false">item 3</bp-breadcrumb-item>
                                </bp-breadcrumb>
                        </bp-card-body>
                </bp-card>
        </div>

</div>